{% load static %}
<html>
<head>
<title>Bone Fracture Detection System</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript">
    function validate(formObj)
    {
        if(formObj.t2.value.length == 0)
        {
            alert("Please Upload X-Ray");
            formObj.t2.focus();
            return false;
        }
        return true;
    }
</script>

</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Bone Fracture Detection System</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
          <ul>      
            <li><a href="{% url 'UploadXray' %}"><font size="3" color="black">Upload X-Ray</font></a></li>
            <li><a href="{% url 'ViewPastResult' %}"><font size="3" color="black">View Past Results</font></a></li>
            <li><a href="{% url 'index' %}"><font size="3" color="black">Logout</font></a></li>
          </ul>  
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="915" height="286" alt="" /></div>
        
        <center>
            <form name="f1" method="post" action="{% url 'UploadXrayAction' %}" enctype="multipart/form-data" onsubmit="return validate(this);">
                {% csrf_token %}
                <h2><b>Upload X-Ray Screen</b></h2>
                <font size="" color="red"><center>{{ data }}</center></font>

                <table align="center" width="30%">
                    {{ data1|safe }}
                    <tr>
                        <td><font size="" color="black"><b>Upload X-Ray</b></td>
                        <td><input name="t2" type="file" size="25"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Submit"></td>
                    </tr>
                </table>
            </form>
        </center>
      </div>  
    </div>
  </div>
</div>
</body>
</html>
